#nav_menu ul{list-style:none;}
#nav_menu ul li{float:left;}
#nav_menu ul li a{
    text-align:center;
    display:block;
    width:175px;
    padding:1em 0;
    text-decoration:none;
    background-color:blue;
    color:white;
    font-weight:bold;
    border-right:2px solid white;}
#nav_menu ul li a.lastitem{border-right: none;}
#nav_menu ul li a.current{color:yellow}
article h1{
    text-align:left;
    display:block;
    font-weight:bold;
    border:none;
    font-size:1.5em;
    padding-top:55px;}
article h2{
    text-align:left;
    display:block;
    font-size:1.5em;
    font-weight:bold;
    border:none}
#article_discussion{
    border:none;
    border-top:1px dotted;
    width:30px;}
aside ul {list-style-type:square;}
aside ol{list-style-type:upper-roman;}