html, body {
    margin: 1em;
    height: 100%;
    font-size: 100%;
}
* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
head {
    display: none;
}
table.first {
    border-collapse: separate;
    border: 2px solid black;}
table {
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 2px;
        border-color: gray;}